# Measure Docker Compose
#
# Guidelines
#
# Follow these guidelines for a consistently maintained
# compose file and a pleasurable maintainer experience.
#
# - Order first-party services at the top followed by
#   third-party services. Databases and other external
#   services should appear after measure services.
# - All environment variables MUST be passed using the
#   `environment` directive of each service. That's the
#   ONLY source of truth.
#
# Tips
#
# - For setting default values for any environment variable
#   Specify the default value after the hyphen (-). To set
#   empty default value do not specify anything after the
#   hyphen. See example below.
#
#   ```yaml
#   environment:
#     - MY_VAR=${MY_VAR:-default_value}
#     - EMPTY_MY_VAR=${EMPTY_MY_VAR:-}
#   ```

name: measure
services:
  dashboard:
    build:
      dockerfile: dockerfile
      context: ../frontend/dashboard
    ports:
      - "3000:3000"
    environment:
      - API_BASE_URL=${API_BASE_URL}
      - SLACK_CLIENT_ID=${SLACK_CLIENT_ID}
      - SLACK_OAUTH_STATE_SALT=${SLACK_OAUTH_STATE_SALT}
      - POSTHOG_API_KEY=${POSTHOG_API_KEY}
      - NEXT_PUBLIC_POSTHOG_API_KEY=${POSTHOG_API_KEY}
      - POSTHOG_HOST=${POSTHOG_HOST}
      - NEXT_PUBLIC_POSTHOG_HOST=${POSTHOG_HOST}
      - NODE_ENV=development
      - NEXT_TELEMETRY_DISABLED=1
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://0.0.0.0:3000"]
      interval: 5s
      timeout: 10s
      retries: 5
    develop:
      watch:
        - path: ../frontend/dashboard
          action: sync
          target: /app

  api:
    build:
      dockerfile: dockerfile
      context: ../backend/api
    ports:
      - "8080:8080"
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - CLICKHOUSE_DSN=${CLICKHOUSE_DSN}
      - CLICKHOUSE_READER_DSN=${CLICKHOUSE_READER_DSN}
      - VALKEY_DSN=${VALKEY_DSN}   
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - SYMBOLS_S3_BUCKET=${SYMBOLS_S3_BUCKET}
      - SYMBOLS_S3_BUCKET_REGION=${SYMBOLS_S3_BUCKET_REGION}
      - SYMBOLS_ACCESS_KEY=${SYMBOLS_ACCESS_KEY}
      - SYMBOLS_SECRET_ACCESS_KEY=${SYMBOLS_SECRET_ACCESS_KEY}
      - SYMBOLICATOR_ORIGIN=${SYMBOLICATOR_ORIGIN}
      - ATTACHMENTS_S3_ORIGIN=${ATTACHMENTS_S3_ORIGIN:-}
      - ATTACHMENTS_S3_BUCKET=${ATTACHMENTS_S3_BUCKET}
      - ATTACHMENTS_S3_BUCKET_REGION=${ATTACHMENTS_S3_BUCKET_REGION}
      - ATTACHMENTS_ACCESS_KEY=${ATTACHMENTS_ACCESS_KEY}
      - ATTACHMENTS_SECRET_ACCESS_KEY=${ATTACHMENTS_SECRET_ACCESS_KEY}
      - SITE_ORIGIN=${NEXT_PUBLIC_SITE_URL}
      - API_ORIGIN=${NEXT_PUBLIC_API_BASE_URL}
      - OAUTH_GOOGLE_KEY=${OAUTH_GOOGLE_KEY}
      - OAUTH_GITHUB_KEY=${OAUTH_GITHUB_KEY}
      - OAUTH_GITHUB_SECRET=${OAUTH_GITHUB_SECRET}
      - SESSION_ACCESS_SECRET=${SESSION_ACCESS_SECRET}
      - SESSION_REFRESH_SECRET=${SESSION_REFRESH_SECRET}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - EMAIL_DOMAIN=${EMAIL_DOMAIN}
      - SLACK_CLIENT_ID=${SLACK_CLIENT_ID}
      - SLACK_CLIENT_SECRET=${SLACK_CLIENT_SECRET}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - OTEL_INSECURE_MODE=${OTEL_INSECURE_MODE}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
      - SYMBOLICATE_JVM_LAMBDA_REWRITE=true
      - PORT=8080
    develop:
      watch:
        - path: ../backend/api
          action: rebuild
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8080/ping"]
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      minio:
        condition: service_healthy
      dbmate-postgres:
        condition: service_completed_successfully
        required: false
      dbmate-clickhouse:
        condition: service_completed_successfully
        required: false
      migrator:
        condition: service_completed_successfully
        required: false
      symbolicator:
        condition: service_healthy
      symboloader:
        condition: service_healthy
      metering:
        condition: service_healthy
      valkey:
        condition: service_healthy

  cleanup:
    build:
      dockerfile: dockerfile
      context: ../backend/cleanup
    ports:
      - "8081:8081"
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - CLICKHOUSE_DSN=${CLICKHOUSE_DSN}
      - CLICKHOUSE_READER_DSN=${CLICKHOUSE_READER_DSN}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - ATTACHMENTS_S3_ORIGIN=${ATTACHMENTS_S3_ORIGIN}
      - ATTACHMENTS_S3_BUCKET=${ATTACHMENTS_S3_BUCKET}
      - ATTACHMENTS_S3_BUCKET_REGION=${ATTACHMENTS_S3_BUCKET_REGION}
      - ATTACHMENTS_ACCESS_KEY=${ATTACHMENTS_ACCESS_KEY}
      - ATTACHMENTS_SECRET_ACCESS_KEY=${ATTACHMENTS_SECRET_ACCESS_KEY}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - OTEL_INSECURE_MODE=${OTEL_INSECURE_MODE}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    develop:
      watch:
        - path: ../backend/cleanup
          action: rebuild
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8081/ping"]
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      minio:
        condition: service_healthy
      dbmate-postgres:
        condition: service_completed_successfully
        required: false
      dbmate-clickhouse:
        condition: service_completed_successfully
        required: false
      migrator:
        condition: service_completed_successfully
        required: false

  alerts:
    build:
      dockerfile: dockerfile
      context: ../backend/alerts
    ports:
      - "8082:8082"
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - CLICKHOUSE_DSN=${CLICKHOUSE_DSN}
      - CLICKHOUSE_READER_DSN=${CLICKHOUSE_READER_DSN}
      - SITE_ORIGIN=${NEXT_PUBLIC_SITE_URL}
      - SMTP_HOST=${SMTP_HOST}
      - SMTP_PORT=${SMTP_PORT}
      - SMTP_USER=${SMTP_USER}
      - SMTP_PASSWORD=${SMTP_PASSWORD}
      - EMAIL_DOMAIN=${EMAIL_DOMAIN}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - OTEL_INSECURE_MODE=${OTEL_INSECURE_MODE}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    develop:
      watch:
        - path: ../backend/alerts
          action: rebuild
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8082/ping"]
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      dbmate-postgres:
        condition: service_completed_successfully
        required: false
      dbmate-clickhouse:
        condition: service_completed_successfully
        required: false

  symboloader:
    build:
      dockerfile: dockerfile
      context: ../backend/symboloader
    ports:
      - "8083:8083"
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - SYMBOLS_S3_BUCKET=${SYMBOLS_S3_BUCKET}
      - SYMBOLS_S3_BUCKET_REGION=${SYMBOLS_S3_BUCKET_REGION}
      - SYMBOLS_ACCESS_KEY=${SYMBOLS_ACCESS_KEY}
      - SYMBOLS_SECRET_ACCESS_KEY=${SYMBOLS_SECRET_ACCESS_KEY}
      - API_ORIGIN=${NEXT_PUBLIC_API_BASE_URL}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - OTEL_INSECURE_MODE=${OTEL_INSECURE_MODE}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    develop:
      watch:
        - path: ../backend/symboloader
          action: rebuild
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8083/ping"]
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      minio:
        condition: service_healthy
      dbmate-postgres:
        condition: service_completed_successfully
        required: false

  metering:
    build:
      dockerfile: dockerfile
      context: ../backend/metering
    ports:
      - "8084:8084"
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - CLICKHOUSE_DSN=${CLICKHOUSE_DSN}
      - CLICKHOUSE_READER_DSN=${CLICKHOUSE_READER_DSN}
      - OTEL_SERVICE_NAME=${OTEL_SERVICE_NAME}
      - OTEL_INSECURE_MODE=${OTEL_INSECURE_MODE}
      - OTEL_EXPORTER_OTLP_ENDPOINT=${OTEL_EXPORTER_OTLP_ENDPOINT}
    develop:
      watch:
        - path: ../backend/metering
          action: rebuild
    healthcheck:
      test: ["CMD", "wget", "-q", "-O", "-", "http://localhost:8084/ping"]
      interval: 5s
      timeout: 10s
      retries: 5
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      dbmate-postgres:
        condition: service_completed_successfully
        required: false
      dbmate-clickhouse:
        condition: service_completed_successfully
        required: false

  migrator:
    profiles:
      - migrate
    build:
      dockerfile: dockerfile
      context: ../backend/migrator
    environment:
      - POSTGRES_DSN=${POSTGRES_DSN}
      - CLICKHOUSE_DSN=${CLICKHOUSE_DSN}
      - CLICKHOUSE_READER_DSN=${CLICKHOUSE_READER_DSN}
      - AWS_ENDPOINT_URL=${AWS_ENDPOINT_URL}
      - SYMBOLS_S3_BUCKET=${SYMBOLS_S3_BUCKET}
      - SYMBOLS_S3_BUCKET_REGION=${SYMBOLS_S3_BUCKET_REGION}
      - SYMBOLS_ACCESS_KEY=${SYMBOLS_ACCESS_KEY}
      - SYMBOLS_SECRET_ACCESS_KEY=${SYMBOLS_SECRET_ACCESS_KEY}
    develop:
      watch:
        - path: ../backend/migrator
          action: rebuild
    depends_on:
      postgres:
        condition: service_healthy
      clickhouse:
        condition: service_healthy
      minio:
        condition: service_healthy
    volumes:
      - migrator-volume:/data
    command: ["migrate"]

  symbolicator:
    image: ghcr.io/measure-sh/symbolicator
    ports:
      - "3021:3021"
    volumes:
      - ./symbolicator/config.yml:/etc/symbolicator/config.yml:ro
    healthcheck:
      test: ["CMD-SHELL", "curl -s http://localhost:3021/healthcheck || exit 1"]
      interval: 3s
      timeout: 10s
      retries: 5
    command: ["run", "-c", "/etc/symbolicator/config.yml"]

  minio:
    image: quay.io/minio/minio
    ports:
      - "9119:9000"
      - "9229:9001"
    environment:
      - MINIO_ROOT_USER=${MINIO_ROOT_USER}
      - MINIO_ROOT_PASSWORD=${MINIO_ROOT_PASSWORD}
      - MINIO_NOTIFY_WEBHOOK_ENABLE_SYMBOLS=on
      - MINIO_NOTIFY_WEBHOOK_ENDPOINT_SYMBOLS=${SYMBOLOADER_ORIGIN}/receive-symbols
    entrypoint: >
      bash -c "
      minio server /data --console-address ":9001" &

      until curl -sf http://127.0.0.1:9000/minio/health/live; do
        echo 'Waiting for MinIO server to start...';
        sleep 3;
      done;

      mc alias set msr-minio http://127.0.0.1:9000 ${MINIO_ROOT_USER} ${MINIO_ROOT_PASSWORD};

      mc mb --ignore-existing msr-minio/${SYMBOLS_S3_BUCKET} msr-minio/${ATTACHMENTS_S3_BUCKET};

      mc event add msr-minio/${SYMBOLS_S3_BUCKET} arn:minio:sqs::SYMBOLS:webhook --ignore-existing --event put --prefix incoming/;

      wait %1
      "
    healthcheck:
      test: ["CMD", "curl", "-sf", "http://127.0.0.1:9000/minio/health/live"]
      interval: 3s
      timeout: 10s
      retries: 5
    volumes:
      - minio-data:/data

  dbmate-postgres:
    image: ghcr.io/amacneil/dbmate
    profiles:
      - migrate
    environment:
      - DATABASE_URL=${POSTGRES_MIGRATION_URL}
      - DBMATE_MIGRATIONS_DIR=/opt/postgres
      - DBMATE_SCHEMA_FILE=/opt/postgres/schema.sql
      - DBMATE_WAIT=true
      - DBMATE_STRICT=true
      - DBMATE_NO_DUMP_SCHEMA=true
    depends_on:
      postgres:
        condition: service_healthy
        restart: true
    volumes:
      - ./postgres:/opt/postgres
    command: ["migrate"]

  dbmate-clickhouse:
    image: ghcr.io/amacneil/dbmate
    profiles:
      - migrate
    environment:
      - DATABASE_URL=${CLICKHOUSE_MIGRATION_URL}
      - DBMATE_MIGRATIONS_DIR=/opt/clickhouse
      - DBMATE_SCHEMA_FILE=/opt/clickhouse/schema.sql
      - DBMATE_WAIT=true
      - DBMATE_STRICT=true
      - DBMATE_NO_DUMP_SCHEMA=true
    depends_on:
      clickhouse:
        condition: service_healthy
        restart: true
    volumes:
      - ./clickhouse:/opt/clickhouse
    command: ["migrate"]

  postgres:
    image: postgres:16.3-alpine
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    command: ["postgres", "-c", "log_statement=all"]
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 3s
      timeout: 10s
      retries: 5
    volumes:
      - pgdata:/var/lib/postgresql/data
      - ./postgres/init-postgres.sh:/docker-entrypoint-initdb.d/init-postgres.sh

  clickhouse:
    image: clickhouse/clickhouse-server:24.10-alpine
    environment:
      - CLICKHOUSE_ADMIN_USER=${CLICKHOUSE_ADMIN_USER}
      - CLICKHOUSE_ADMIN_PASSWORD=${CLICKHOUSE_ADMIN_PASSWORD}
      - CLICKHOUSE_OPERATOR_USER=${CLICKHOUSE_OPERATOR_USER}
      - CLICKHOUSE_OPERATOR_PASSWORD=${CLICKHOUSE_OPERATOR_PASSWORD}
      - CLICKHOUSE_READER_USER=${CLICKHOUSE_READER_USER}
      - CLICKHOUSE_READER_PASSWORD=${CLICKHOUSE_READER_PASSWORD}
    ports:
      - "9000:9000/tcp"
      - "8123:8123"
    healthcheck:
      test: ["CMD-SHELL", "clickhouse-client --query 'SELECT 1' || exit 1"]
      interval: 3s
      timeout: 10s
      retries: 5
    ulimits:
      nofile: 262144
    volumes:
      - clickhouse-volume:/var/lib/clickhouse
      - clickhouse-volume:/var/log/clickhouse-server
      - ./clickhouse/init-clickhouse.sh:/docker-entrypoint-initdb.d/init-clickhouse.sh
      - type: bind
        source: ./clickhouse/config/config.xml
        target: /etc/clickhouse-server/config.d/config.xml
      - type: bind
        source: ./clickhouse/config/users.xml
        target: /etc/clickhouse-server/users.xml

  valkey:
    image: valkey/valkey:9.0.0-alpine
    ports:
      - "6379:6379"
    command: >
      valkey-server
      --maxmemory 256mb
      --maxmemory-policy allkeys-lru
      --io-threads 4
      --io-threads-do-reads yes
      --appendonly yes
      --appendfsync everysec
    healthcheck:
      test: ["CMD", "valkey-cli", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5

volumes:
  clickhouse-volume:
  migrator-volume:
  minio-data:
  pgdata:
