# sessionator config

[apps]

# Define list of apps along with each app's api key
#
# Syntax
#
# [apps.name]
# name should match session-data's app directory name
#
# [apps."name"]
# enclose with double quotes if name contains special characters like
# dot (.) or white spaces.
#
# Example
#
# [apps.sample-app-1]
# api-key = "msrsh_xxxxxx_xxxx"
# name = "app 1"
#
# [apps.sample-app-2]
# api-key = "msrsh_xxxxxx_xxxx"
# name = "app 2"

[storage]

# Storage config is used to manipulate
# data in databases and objects in
# object storage (like S3).

postgres_dsn = "postgresql://postgres:postgres@127.0.0.1:5432/postgres"
clickhouse_dsn = "clickhouse://default:@127.0.0.1:9000/default"

aws_endpoint_url = "http://127.0.0.1:9119"

attachments_s3_bucket = "msr-attachments-sandbox"
attachments_s3_bucket_region = "us-east-1"
attachments_access_key = "minio"
attachments_secret_access_key = "minio123"

symbols_s3_bucket = "msr-symbols-sandbox"
symbols_s3_bucket_region = "us-east-1"
symbols_access_key = "minio"
symbols_secret_access_key = "minio123"
