#                                                            ( )    
#   ___ ___     __     _ _   ___  _   _  _ __   __       ___ | |__  
# /' _ ` _ `\ /'__`\ /'_` )/',__)( ) ( )( '__)/'__`\   /',__)|  _ `\
# | ( ) ( ) |(  ___/( (_| |\__, \| (_) || |  (  ___/ _ \__, \| | | |
# (_) (_) (_)`\____)`\__,_)(____/`\___/'(_)  `\____)(_)(____/(_) (_)

########
# Next #
########
NEXT_PUBLIC_SITE_URL=https://measure.sh

#############
# Supabase #
#############
NEXT_PUBLIC_SUPABASE_URL=your-supabase-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-supabase-anon-key

########
# Auth #
########
NEXT_PUBLIC_MEASURE_GOOGLE_OAUTH_CLIENT_ID=your-google-oauth-client-id
NEXT_PUBLIC_MEASURE_GITHUB_OAUTH_CLIENT_ID=your-github-oauth-client-id

###############
# MEASURE API #
###############
NEXT_PUBLIC_API_BASE_URL=measure-api-base-url