go 1.25.8

use (
	./backend/agent
	./backend/alerts
	./backend/api
	./backend/cleanup
	./backend/ingest
	./backend/ingest-worker
	./backend/libs
	./backend/migrator
	./backend/symboloader
	./backend/testinfra
	./self-host/sessionator
)
