go 1.26.1

use (
	./backend/alerts
	./backend/api
	./backend/billing
	./backend/cleanup
	./backend/email
	./backend/ingest
	./backend/ingest-worker
	./backend/libs
	./backend/metering
	./backend/migrator
	./backend/symboloader
	./backend/testinfra
	./self-host/sessionator
)
