# Measure SDK — Android
FRANK_MEASURE_ANDROID_API_KEY_DEBUG=
FRANK_MEASURE_ANDROID_API_URL_DEBUG=
FRANK_MEASURE_ANDROID_API_KEY_RELEASE=
FRANK_MEASURE_ANDROID_API_URL_RELEASE=

# Measure SDK — iOS
FRANK_MEASURE_IOS_API_KEY_DEBUG=
FRANK_MEASURE_IOS_API_URL_DEBUG=
FRANK_MEASURE_IOS_API_KEY_RELEASE=
FRANK_MEASURE_IOS_API_URL_RELEASE=
