<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>sh.measure.e2e-nightly</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>__RUN_SCRIPT__</string>
    </array>

    <key>WorkingDirectory</key>
    <string>__NIGHTLY_DIR__</string>

    <key>StartCalendarInterval</key>
    <dict>
        <key>Hour</key>
        <integer>__HOUR__</integer>
        <key>Minute</key>
        <integer>__MINUTE__</integer>
    </dict>

    <key>RunAtLoad</key>
    <false/>

    <key>ProcessType</key>
    <string>Background</string>

    <key>StandardOutPath</key>
    <string>__LOG_DIR__/launchd.out.log</string>

    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/launchd.err.log</string>
</dict>
</plist>
