<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <!--
     Workaround required for running tests on API 30 devices.
     See https://github.com/android/android-test/issues/743.
     Version 1.3.1 of the AndroidX Test libraries remove the need for this workaround.
     -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

    <!--
        Permissions required to ensure the android tests do not crash
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:exported="false"
        android:usesCleartextTraffic="true">
        <activity
            android:name="sh.measure.android.TestActivity"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="sh.measure.android.API_KEY" android:value="YOUR_API_KEY" />
        <!--
        The API_URL is used by mock web server, changing this could lead to test failures.
        -->
        <meta-data android:name="sh.measure.android.API_URL" android:value="http://localhost:8080" />
    </application>

</manifest>

