<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sh.measure.android.test">

    <!--
     Workaround required for running tests on API 30 devices.
     See https://github.com/android/android-test/issues/743.
     Version 1.3.1 of the AndroidX Test libraries remove the need for this workaround.
     -->
    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />
    <application>
        <activity android:name="sh.measure.android.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data android:name="sh.measure.android.API_KEY" android:value="YOUR_API_KEY" />
        <!--
        The API_URL is used by mock web server, changing this could lead to test failures.
        -->
        <meta-data android:name="sh.measure.android.API_URL" android:value="http://localhost:8080" />
    </application>
</manifest>

