<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".BaselineTargetApp"
        android:label="BaselineTarget"
        android:theme="@android:style/Theme.Material.Light.NoActionBar">
        <profileable
            android:shell="true"
            tools:targetApi="29" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ViewClickActivity"
            android:exported="true" />

        <activity
            android:name=".ComposeClickActivity"
            android:exported="true" />

        <meta-data android:name="sh.measure.android.API_KEY" android:value="msrsh_api_key" />
        <meta-data android:name="sh.measure.android.API_URL" android:value="http://localhost:8080" />
    </application>
</manifest>
