openapi: 3.1.0
info:
  title: Measure Dashboard API
  version: 1.0.0
  description: |
    Reference for Measure's Dashboard REST API. Every endpoint, request body,
    response format and status code.

    Requests are authenticated with the user's access token in
    `Authorization: Bearer <access-token>` format, unless cookies are used to
    send tokens. Set `Content-Type: application/json; charset=utf-8` on each
    request.

    Failed requests have the following response shape:

    ```json
    {
      "error": "Error message",
      "details": "Additional error details, when available"
    }
    ```
servers:
  - url: https://api.measure.sh
    description: Measure cloud
  - url: http://localhost:8080
    description: Self-hosted Measure API origin
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: Sign in, session validation, token refresh and sign out.
  - name: Apps
    description: App journey, metrics, filters, settings, builds and configuration.
  - name: Errors
    description: Error groups, error details and error plots.
  - name: Sessions
    description: Session listing, session plots and session replays.
  - name: Traces
    description: Root spans, span listings and traces.
  - name: Bug Reports
    description: Bug report listing, details and status updates.
  - name: Alerts
    description: Alerts raised for an app.
  - name: Network Requests
    description: Network request domains, paths, trends and plots.
  - name: Teams
    description: Team management, apps, members, invites, usage and Slack integration.
  - name: Prefs
    description: User notification preferences.
paths:
  /auth/github:
    post:
      operationId: signinGithub
      tags:
        - Auth
      summary: Sign in with GitHub
      description: |
        Sign in with Github.

        Should pass in type as "code" along with state and code received from Github.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - state
              properties:
                type:
                  type: string
                  description: OAuth flow step, "init" or "code".
                state:
                  type: string
                  description: Opaque OAuth state value.
                code:
                  type: string
                  description: Authorization code received from GitHub. Required when type is "code".
            examples:
              request:
                value:
                  type: code
                  state: eyJyYW5kb20iOiIxOGY0NDIzZjExY2FiM2ZkOTRiNDZlMzU0ZWU1MDNlZjEyODk1MmY3YzViMDgxNjczMDkwMzVhYzU3ZjNkYjgxIiwicGF0aCI6IiJ9
                  code: ccd85e1fbfae2924588a
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  session_id:
                    type: string
                  user_id:
                    type: string
                  own_team_id:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU0ODR9.UA-rtIY8TPjB3gkt0xgxTTXWa84uB6nr9vMyg0gMnSI
                    refresh_token: yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg0ODR9.1-meGfGQ8i9IlNxKXmBlDc4lEu-O63jG2vrd7yP0-j8
                    session_id: afae8473-2419-4303-a262-2aea520de295
                    user_id: 835283a5-cddc-472b-84ad-5ea3319efeed
                    own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
        "400":
          description: Request is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: GitHub rejected the sign-in. The authorization code is invalid, already used or expired.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/google:
    post:
      operationId: signinGoogle
      tags:
        - Auth
      summary: Sign in with Google
      description: |
        Sign in with Google.

        Should pass in type as "code" along with state and code received from Google.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - state
              properties:
                type:
                  type: string
                  description: OAuth flow step, "init" or "code".
                state:
                  type: string
                  description: Opaque OAuth state value.
                code:
                  type: string
                  description: Authorization code received from Google. Required when type is "code".
            examples:
              request:
                value:
                  type: code
                  state: eyJyYW5kb20iOiJiMGNkMTBjNzViOTI3NjQ1MmM4NTRlMzJiMjlkOTI1ZmI0YjkyNGI5ODFkZDQ0ZjM4OTMwYWQwYzU2YjEzMDk3IiwicGF0aCI6IiJ9
                  code: 4/0AeaYSHBg8Yt2VXpDbb1kMqzy
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  session_id:
                    type: string
                  user_id:
                    type: string
                  own_team_id:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU2NTl9.XzbpImWw9GXFlIXHCu92QNsA1D8m_Y9ZFVDEDqG_wtM
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg2NTl9.MeMIsk1KEHvPa2AAbDBQWqeKJwQcxbk1lXb7Mhcz-uQ
                    session_id: afae8473-2419-4303-a262-2aea520de295
                    user_id: 835283a5-cddc-472b-84ad-5ea3319efeed
                    own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
        "400":
          description: Request is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Google rejected the sign-in. The authorization code is invalid, already used or expired.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/validateInvite:
    post:
      operationId: validateInvite
      tags:
        - Auth
      summary: Validate invite
      description: |
        Validate invite.

        Should pass in Invite ID.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invite_id:
                  type: string
            examples:
              request:
                value:
                  invite_id: 8e07edcf-92be-43c6-934e-c9cc96f2ddfb
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
              examples:
                response:
                  value:
                    valid: true
        "400":
          description: Request is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "410":
          description: Invite has expired.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/refresh:
    post:
      operationId: refreshToken
      tags:
        - Auth
      summary: Refresh session
      description: |
        Refresh session.

        Should pass in refresh token as cookies or in auth header. Set the
        session's refresh token in `Authorization: Bearer <refresh-token>`
        format unless you are using cookies to send refresh tokens.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU2NTl9.XzbpImWw9GXFlIXHCu92QNsA1D8m_Y9ZFVDEDqG_wtM
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg2NTl9.MeMIsk1KEHvPa2AAbDBQWqeKJwQcxbk1lXb7Mhcz-uQ
        "401":
          description: Either the user's refresh token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/session:
    get:
      operationId: getAuthSession
      tags:
        - Auth
      summary: Fetch session
      description: |
        Fetch session.

        Only active sessions that have not been cleaned up will receive a
        response. Invalid sessions return an error.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      own_team_id:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      confirmed_at:
                        type: string
                      last_sign_in_at:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
              examples:
                response:
                  value:
                    user:
                      id: 835283a5-cddc-472b-84ad-5ea3319efeed
                      own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
                      name: Dummy User
                      email: dummy@gmail.com
                      confirmed_at: "2024-06-19T22:14:49.77Z"
                      last_sign_in_at: "2024-06-19T22:14:49.77Z"
                      created_at: "2024-06-19T22:14:49.77Z"
                      updated_at: "2024-06-19T22:14:49.77Z"
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/signout:
    delete:
      operationId: signout
      tags:
        - Auth
      summary: Sign out
      description: |
        Sign out.

        Only active sessions that have not been cleaned up will receive a
        response. Invalid sessions return an error. Set the session's refresh
        token in `Authorization: Bearer <refresh-token>` format unless you are
        using cookies to send refresh tokens.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              examples:
                response:
                  value:
                    ok: true
        "401":
          description: Either the user's refresh token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/journey:
    get:
      operationId: getAppJourney
      tags:
        - Apps
      summary: Fetch an app's issue journey map
      description: |
        Fetch an app's issue journey map. Filter time range using `from` & `to`
        query string parameters. Filter versions using `versions` &
        `version_codes` query string parameters.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching issues.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching issues.
          schema:
            type: string
        - name: bigraph
          in: query
          required: false
          description: Choose journey's directionality. `0` computes a unidirectional graph. Default is `1`.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                        target:
                          type: string
                        value:
                          type: number
                  nodes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        issues:
                          type: object
                          properties:
                            anrs:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                            crashes:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  title:
                                    type: string
                                  count:
                                    type: number
                  totalIssues:
                    type: number
              examples:
                response:
                  value:
                    links:
                      - source: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        target: au.com.shiftyjelly.pocketcasts.player.view.PlayerContainerFragment
                        value: 4
                      - source: au.com.shiftyjelly.pocketcasts.account.onboarding.OnboardingActivity
                        target: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        value: 1
                    nodes:
                      - id: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        issues:
                          anrs: []
                          crashes: []
                      - id: au.com.shiftyjelly.pocketcasts.discover.view.DiscoverFragment
                        issues:
                          anrs: []
                          crashes:
                            - id: 018f5c68-6fe0-75c9-81ba-b36871c8b5fa
                              title: java.lang.IllegalStateException
                              count: 18
                    totalIssues: 30
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/metrics:
    get:
      operationId: getAppMetrics
      tags:
        - Apps
      summary: Fetch an app's health metrics
      description: |
        Fetch an app's health metrics. Filter time range using `from` & `to`
        query string parameters. Filter version using `versions` &
        `version_codes` query string parameters.

        Both `versions` & `version_codes` should be present if any one of them
        is present, and the number of items in each must be the same. `from` &
        `to` values must be ISO 8601 UTC strings in milliseconds precision and
        default to a last 7 days time range if not supplied.

        Each session and launch metric also carries an `unselected_` variant
        holding the same metric computed over the app versions not selected by
        the version filters, for comparison against the selected versions.

        `no_data` and `unselected_no_data` are true when there was no data to
        compute the metric, for example no sessions on that side. The metric
        value is then a placeholder zero.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: Comma separated version identifiers.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: Comma separated version codes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  adoption:
                    type: object
                    properties:
                      all_versions:
                        type: number
                      selected_version:
                        type: number
                      adoption:
                        type: number
                      no_data:
                        type: boolean
                  anr_free_sessions:
                    type: object
                    properties:
                      anr_free_sessions:
                        type: number
                      unselected_anr_free_sessions:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  cold_launch:
                    type: object
                    properties:
                      p95:
                        type: number
                      unselected_p95:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  crash_free_sessions:
                    type: object
                    properties:
                      crash_free_sessions:
                        type: number
                      unselected_crash_free_sessions:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  hot_launch:
                    type: object
                    properties:
                      p95:
                        type: number
                      unselected_p95:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  perceived_anr_free_sessions:
                    type: object
                    properties:
                      perceived_anr_free_sessions:
                        type: number
                      unselected_perceived_anr_free_sessions:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  perceived_crash_free_sessions:
                    type: object
                    properties:
                      perceived_crash_free_sessions:
                        type: number
                      unselected_perceived_crash_free_sessions:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
                  sizes:
                    type: object
                    properties:
                      average_app_size:
                        type: number
                      selected_app_size:
                        type: number
                      delta:
                        type: number
                      no_data:
                        type: boolean
                  warm_launch:
                    type: object
                    properties:
                      p95:
                        type: number
                      unselected_p95:
                        type: number
                      no_data:
                        type: boolean
                      unselected_no_data:
                        type: boolean
              examples:
                response:
                  value:
                    adoption:
                      all_versions: 53
                      selected_version: 23
                      adoption: 43.4
                      no_data: false
                    anr_free_sessions:
                      anr_free_sessions: 99.4
                      unselected_anr_free_sessions: 99.1
                      no_data: false
                      unselected_no_data: false
                    cold_launch:
                      p95: 923
                      unselected_p95: 940
                      no_data: false
                      unselected_no_data: false
                    crash_free_sessions:
                      crash_free_sessions: 98.2
                      unselected_crash_free_sessions: 98.6
                      no_data: false
                      unselected_no_data: false
                    hot_launch:
                      p95: 152
                      unselected_p95: 160
                      no_data: false
                      unselected_no_data: false
                    perceived_anr_free_sessions:
                      perceived_anr_free_sessions: 99.6
                      unselected_perceived_anr_free_sessions: 99.3
                      no_data: false
                      unselected_no_data: false
                    perceived_crash_free_sessions:
                      perceived_crash_free_sessions: 98.5
                      unselected_perceived_crash_free_sessions: 98.9
                      no_data: false
                      unselected_no_data: false
                    sizes:
                      average_app_size: 26298701
                      selected_app_size: 25887094
                      delta: -411607
                      no_data: false
                    warm_launch:
                      p95: 407
                      unselected_p95: 415
                      no_data: false
                      unselected_no_data: false
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/health/plots/instances:
    get:
      operationId: getHealthOverviewPlotInstances
      tags:
        - Apps
      summary: Fetch an app's health overview instances plot
      description: |
        Fetch an app's health overview instances plot. The response is a time
        series of three metrics bucketed by datetime: sessions, crashes (fatal
        exceptions) & ANRs. Filter time range using `from` & `to` query string
        parameters. Filter version using `versions` & `version_codes` query
        string parameters.

        `from` & `to` will default to a last 7 days time range if not supplied.
        Both `versions` & `version_codes` should be present if any one of them
        is present, and must contain the same number of items. For multiple
        comma separated fields, make sure no whitespace characters exist before
        or after commas.

        The response is an array of three series identified by `id`:
        `sessions`, `crashes` & `anrs`. Each series holds a sparse list of
        datetime buckets that had data, so a bucket with no crashes or ANRs is
        simply absent from that series.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Timezone"
        - $ref: "#/components/parameters/PlotTimeGroup"
        - name: versions
          in: query
          required: false
          description: List of comma separated app version identifier strings to return only matching data.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated app version codes to return only matching data.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Series identifier, one of `sessions`, `crashes` or `anrs`.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: sessions
                      data:
                        - datetime: "2024-10-02"
                          instances: 12044
                        - datetime: "2024-10-03"
                          instances: 13890
                    - id: crashes
                      data:
                        - datetime: "2024-10-02"
                          instances: 32
                    - id: anrs
                      data:
                        - datetime: "2024-10-02"
                          instances: 4
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/filters:
    get:
      operationId: getAppFilters
      tags:
        - Apps
      summary: Fetch an app's filters
      description: |
        Fetch an app's filters.

        Pass `type=error` to only return filters relevant to exception events
        (fatal + nonfatal), `type=anr` for filters relevant to ANR events, or
        `type=error,anr` for filters relevant to both exceptions and ANRs. Pass
        `ud_attr_keys=1` to return user defined attribute keys. Pass `span=1`
        to return filters computed from span data instead of event data. Pass
        `builds=1` to return version filters computed from uploaded build
        mappings instead of event data. If `type`, `span` and `builds` are
        omitted, filters are computed from all events.

        `severity` is not honoured on this endpoint and is ignored if passed.
        Use it on the errorGroups endpoints instead.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          required: false
          description: Restrict filters to certain event types, `error`, `anr` or `error,anr`.
          schema:
            type: string
        - name: ud_attr_keys
          in: query
          required: false
          description: Pass `1` to return user defined attribute keys.
          schema:
            type: string
        - name: span
          in: query
          required: false
          description: Pass `1` to return filters computed from span data instead of event data.
          schema:
            type: string
        - name: builds
          in: query
          required: false
          description: Pass `1` to return version filters computed from uploaded build mappings instead of event data.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: string
                  device_manufacturers:
                    type: array
                    items:
                      type: string
                  device_names:
                    type: array
                    items:
                      type: string
                  locales:
                    type: array
                    items:
                      type: string
                  network_generations:
                    type: array
                    items:
                      type: string
                  network_providers:
                    type: array
                    items:
                      type: string
                  network_types:
                    type: array
                    items:
                      type: string
                  os_versions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                  ud_attrs:
                    type: object
                    properties:
                      key_types:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            type:
                              type: string
                      operator_types:
                        type: object
                        additionalProperties: true
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
              examples:
                response:
                  value:
                    countries:
                      - bogon
                    device_manufacturers:
                      - Google
                    device_names:
                      - emu64a
                      - emu64a16k
                    locales:
                      - en-US
                    network_generations:
                      - 3g
                      - unknown
                    network_providers:
                      - T-Mobile
                      - unknown
                    network_types:
                      - cellular
                      - no_network
                      - unknown
                      - wifi
                    os_versions:
                      - name: android
                        version: "35"
                      - name: android
                        version: "33"
                    ud_attrs:
                      key_types:
                        - key: username
                          type: string
                        - key: paid_user
                          type: bool
                      operator_types:
                        bool:
                          - eq
                          - neq
                        string:
                          - eq
                          - neq
                          - contains
                          - startsWith
                    versions:
                      - code: "800"
                        name: 0.8.0-SNAPSHOT.debug
                      - code: "1"
                        name: "1.0"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/filters/keys:
    get:
      operationId: getFilterKeys
      tags:
        - Apps
      summary: Fetch what an entity can be filtered by
      description: |
        Fetches the keys available in an entity, in display order. Each key
        includes its label and description, the type of value it accepts, the
        operators that type supports, and where its values come from.
        `key_groups` lists the groups the keys fall into, also in display order.

        Unrelated to `/apps/{id}/filters`, which serves the older fixed set of
        app filters.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: entity
          in: query
          required: true
          description: Name of the entity to describe.
          schema:
            type: string
            enum:
              - builds
              - spans
              - bug_reports
        - name: key
          in: query
          required: false
          description: |
            Name of a key to resolve and include even when the custom key
            listing is truncated. Repeat the parameter for each name, like
            `key=custom.plan&key=custom.tier`. Keys not present in app data
            are ignored.
          style: form
          explode: true
          schema:
            type: array
            items:
              type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  keys:
                    type: array
                    items:
                      $ref: "#/components/schemas/FilterKey"
                  key_groups:
                    type: array
                    description: |
                      The groups these keys fall into, in the order to offer
                      them in. Every key's `key_group` is one of these.
                    items:
                      type: string
                  keys_truncated:
                    type: boolean
                    description: |
                      True when the app has more custom keys than the listing
                      returns.
              examples:
                response:
                  value:
                    key_groups:
                      - Version
                      - Build
                    keys_truncated: false
                    keys:
                      - name: version_name
                        label: App version
                        description: The version of the app.
                        key_group: Version
                        value_type: string
                        operators:
                          - in
                          - not_in
                          - contains
                          - starts_with
                        value_suggestion_mode: sample
                      - name: mapping_type
                        label: Mapping type
                        description: "The kind of symbol file uploaded: proguard, dSYM, ELF debug or JS bundle."
                        key_group: Build
                        value_type: enum
                        operators:
                          - in
                          - not_in
                        value_suggestion_mode: full_list
                      - name: patch_id
                        label: Patch id
                        description: The id of an Over-The-Air patch.
                        key_group: Version
                        value_type: uuid
                        operators:
                          - in
                          - not_in
                          - is_set
                          - is_not_set
                        value_suggestion_mode: sample
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/filters/values:
    get:
      operationId: getFilterValues
      tags:
        - Apps
      summary: Fetch the values one filter key can be set to
      description: |
        Fetches the values a single key in an entity can be set to, narrowed
        by `search`.

        For keys backed by app data, values are read from the entity's own rows,
        most recently seen first, with rows where the key is unset excluded. For
        keys with a fixed set of values, such as `mapping_type`, values come
        from the set the key declares, which a filter cannot go outside.

        Only keys with a `value_suggestion_mode` of `full_list` or `sample` can
        be listed.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: entity
          in: query
          required: true
          description: Name of the entity the key belongs to.
          schema:
            type: string
            enum:
              - builds
              - spans
              - bug_reports
        - name: key_name
          in: query
          required: true
          description: Name of the key to list values for, as returned by `/apps/{id}/filters/keys`.
          schema:
            type: string
        - name: search
          in: query
          required: false
          description: Substring to narrow values by. Values containing it are returned.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of values to return. Defaults to 50, cannot be more than 200.
          schema:
            type: integer
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  values:
                    type: array
                    items:
                      $ref: "#/components/schemas/FilterValue"
                  truncated:
                    type: boolean
                    description: True when more values matched than were returned.
              examples:
                response:
                  value:
                    values:
                      - text: 1.2.0
                      - text: "1.1.9"
                      - text: 1.1.8-SNAPSHOT.debug
                    truncated: false
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups:
    get:
      operationId: getErrorOverview
      tags:
        - Errors
      summary: Fetch an app's error overview
      description: |
        Fetch an app's error overview. Returns fatal, unhandled & handled
        errors plus ANRs unified into a single list.

        Both `versions` & `version_codes` should be present if any one of them
        is present. When neither `type` nor `severity` is set, all sources
        (fatal errors, nonfatal errors, ANRs) are returned.
        `custom=true` filters errors to custom-tracked only & does not
        suppress ANRs. To exclude ANRs explicitly, use `type=error`.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: os_names
          in: query
          required: false
          description: List of comma separated OS names.
          schema:
            type: string
        - name: os_versions
          in: query
          required: false
          description: List of comma separated OS versions.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country codes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device names.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturers.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated locale strings.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network providers.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network types.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generations.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Defaults to 10, max 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: Number of items to skip. Defaults to 0.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          type: string
                        id:
                          type: string
                        type:
                          type: string
                        error_type:
                          type: string
                          description: "`exception` or `anr`."
                        severity:
                          type: string
                          description: "`fatal`, `unhandled` or `handled`."
                        is_custom:
                          type: boolean
                        message:
                          type: string
                        method_name:
                          type: string
                        file_name:
                          type: string
                        line_number:
                          type: number
                        count:
                          type: number
                        percentage_contribution:
                          type: number
                        updated_at:
                          type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: 0a674646a76ebe4aa378b8e1aaa49d61
                        type: java.lang.NullPointerException
                        error_type: exception
                        severity: fatal
                        is_custom: false
                        message: Attempt to invoke virtual method on a null object reference
                        method_name: onClick
                        file_name: MainActivity.kt
                        line_number: 42
                        count: 11
                        percentage_contribution: 36.67
                        updated_at: "2025-06-13T14:08:58.228662166Z"
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: c4ee2ff2e2496be30848cf500300be56
                        type: sh.measure.sample.PaymentException
                        error_type: exception
                        severity: handled
                        is_custom: true
                        message: Payment failed
                        method_name: onSubmit
                        file_name: CheckoutActivity.kt
                        line_number: 88
                        count: 3
                        percentage_contribution: 10
                        updated_at: "2025-06-13T14:08:57.940485305Z"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups/plots/instances:
    get:
      operationId: getErrorOverviewPlotInstances
      tags:
        - Errors
      summary: Fetch an app's error overview instances plot
      description: |
        Fetch an app's error overview instances plot aggregated by date range &
        version.

        Both `versions` & `version_codes` should be present if any one of them
        is present. Both `from` and `to` MUST be present when specifying a date
        range.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Timezone"
        - $ref: "#/components/parameters/PlotTimeGroup"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
                          error_free_sessions:
                            type: number
              examples:
                response:
                  value:
                    - id: 1.0.0 (100)
                      data:
                        - datetime: "2025-06-13"
                          instances: 23
                          error_free_sessions: 0.95
                    - id: 0.9.5 (95)
                      data:
                        - datetime: "2025-06-13"
                          instances: 8
                          error_free_sessions: 0.98
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups/{errorGroupId}/errors:
    get:
      operationId: getErrorDetailErrors
      tags:
        - Errors
      summary: Fetch an error group's individual error events
      description: |
        Fetch an error group's individual error events.

        Both `versions` & `version_codes` should be present if any one of them
        is present.

        Each result is either an exception event or an ANR event, distinguished
        by the `type` field (`exception` or `anr`). Exception events include
        `exception`, `severity`, `num_code`, `code`, `meta`, and
        `user_defined_attribute` fields; `severity` is `fatal`, `unhandled`, or
        `handled`. ANR events include an `anr` field instead of `exception`;
        `severity` is always `fatal` for ANRs and ANR events do not include
        `user_defined_attribute`.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: errorGroupId
          in: path
          required: true
          description: Error group fingerprint.
          schema:
            type: string
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: os_names
          in: query
          required: false
          description: List of comma separated OS names.
          schema:
            type: string
        - name: os_versions
          in: query
          required: false
          description: List of comma separated OS versions.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country codes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device names.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturers.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated locale strings.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network providers.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network types.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generations.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Defaults to 10, max 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: Number of items to skip. Defaults to 0.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      description: Exception event or ANR event, distinguished by the `type` field.
                      properties:
                        id:
                          type: string
                        session_id:
                          type: string
                        timestamp:
                          type: string
                        type:
                          type: string
                          description: "`exception` or `anr`."
                        attribute:
                          type: object
                          additionalProperties: true
                        exception:
                          type: object
                          description: Present on exception events.
                          properties:
                            title:
                              type: string
                            stacktrace:
                              type: string
                            message:
                              type: string
                        anr:
                          type: object
                          description: Present on ANR events.
                          properties:
                            title:
                              type: string
                            stacktrace:
                              type: string
                            message:
                              type: string
                        severity:
                          type: string
                        num_code:
                          type:
                            - number
                            - "null"
                          description: Numeric error code. Null when the SDK did not report one.
                        code:
                          type: string
                        meta:
                          type:
                            - object
                            - "null"
                          additionalProperties: true
                        user_defined_attribute:
                          type:
                            - object
                            - "null"
                          additionalProperties: true
                        attachments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                              key:
                                type: string
                              location:
                                type: string
                        threads:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              frames:
                                type: array
                                items:
                                  type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
                        session_id: f1e2d3c4-b5a6-7890-abcd-ef1234567890
                        timestamp: "2025-06-13T14:08:58.228662166Z"
                        type: exception
                        attribute:
                          installation_id: d4e5f6a7-b8c9-0123-abcd-ef4567890123
                          app_version: 1.0.0
                          app_build: "100"
                          app_unique_id: com.example.app
                          measure_sdk_version: 0.8.0
                          thread_name: main
                          user_id: user-123
                          device_name: Pixel 7
                          device_manufacturer: Google
                          device_locale: en-US
                          os_name: android
                          os_version: "13"
                          network_type: wifi
                          network_provider: Comcast
                        exception:
                          title: java.lang.NullPointerException
                          stacktrace: "java.lang.NullPointerException: Attempt to invoke virtual method\n\tat com.example.MainActivity.onClick(MainActivity.kt:42)"
                          message: Attempt to invoke virtual method on a null object reference
                        severity: fatal
                        num_code: null
                        code: ""
                        meta: null
                        user_defined_attribute:
                          username: alice
                          paid_user: true
                        attachments:
                          - id: e5f6a7b8-c9d0-1234-abcd-ef5678901234
                            name: screenshot.png
                            type: screenshot
                            key: attachments/screenshot.png
                            location: https://storage.example.com/attachments/screenshot.png
                        threads:
                          - name: main
                            frames:
                              - com.example.MainActivity.onClick(MainActivity.kt:42)
                              - android.view.View.performClick(View.java:7448)
                      - id: b2c3d4e5-f6a7-8901-bcde-f12345678901
                        session_id: c3d4e5f6-a7b8-9012-cdef-123456789012
                        timestamp: "2025-06-13T15:22:11.104Z"
                        type: anr
                        attribute:
                          installation_id: d4e5f6a7-b8c9-0123-abcd-ef4567890123
                          app_version: 1.0.0
                          app_build: "100"
                          app_unique_id: com.example.app
                          os_name: android
                          os_version: "13"
                        anr:
                          title: android.app.RemoteServiceException
                          stacktrace: "android.app.RemoteServiceException: Input dispatching timed out\n\tat com.example.MainActivity.onResume(MainActivity.kt:88)"
                          message: Input dispatching timed out
                        severity: fatal
                        attachments: []
                        threads:
                          - name: main
                            frames:
                              - com.example.MainActivity.onResume(MainActivity.kt:88)
                              - android.app.Activity.performResume(Activity.java:8121)
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups/{errorGroupId}/path:
    get:
      operationId: getErrorGroupCommonPath
      tags:
        - Errors
      summary: Fetch an error group's common path
      description: |
        Fetch an error group's common path, the most frequent sequence of
        events leading up to the error.

        No filter query parameters are accepted. Analyzes up to 50 recent
        sessions and returns steps with at least 30% confidence. Returns
        `sessions_analyzed: 0` with an empty `steps` array if no path can be
        determined.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: errorGroupId
          in: path
          required: true
          description: Error group fingerprint.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions_analyzed:
                    type: number
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        thread_name:
                          type: string
                        confidence_pct:
                          type: number
              examples:
                response:
                  value:
                    sessions_analyzed: 42
                    steps:
                      - description: "Navigated to screen: HomeScreen"
                        thread_name: main
                        confidence_pct: 88.1
                      - description: User tapped on CheckoutButton
                        thread_name: main
                        confidence_pct: 71.4
                      - description: "Crash: java.lang.NullPointerException - Attempt to invoke virtual method on a null object reference"
                        thread_name: main
                        confidence_pct: 100
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups/{errorGroupId}/plots/instances:
    get:
      operationId: getErrorDetailPlotInstances
      tags:
        - Errors
      summary: Fetch an app's error detail instances plot
      description: |
        Fetch an app's error detail instances aggregated by date range &
        version.

        Both `versions` & `version_codes` should be present if any one of them
        is present. Both `from` and `to` MUST be present when specifying a date
        range.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: errorGroupId
          in: path
          required: true
          description: Error group fingerprint.
          schema:
            type: string
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Timezone"
        - $ref: "#/components/parameters/PlotTimeGroup"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: 1.0.0 (100)
                      data:
                        - datetime: "2025-06-13"
                          instances: 5
                    - id: 0.9.5 (95)
                      data:
                        - datetime: "2025-06-13"
                          instances: 2
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups/{errorGroupId}/plots/distribution:
    get:
      operationId: getErrorDetailAttributeDistribution
      tags:
        - Errors
      summary: Fetch an error group's attribute distribution plot
      description: |
        Fetch an error group's attribute distribution, occurrence counts broken
        down by app version, OS, country, network type, locale, and device.

        Both `versions` & `version_codes` should be present if any one of them
        is present.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: errorGroupId
          in: path
          required: true
          description: Error group fingerprint.
          schema:
            type: string
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: os_names
          in: query
          required: false
          description: List of comma separated OS names.
          schema:
            type: string
        - name: os_versions
          in: query
          required: false
          description: List of comma separated OS versions.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country codes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device names.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturers.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated locale strings.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network providers.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network types.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generations.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  app_version:
                    type: object
                    additionalProperties: true
                  os_version:
                    type: object
                    additionalProperties: true
                  country:
                    type: object
                    additionalProperties: true
                  network_type:
                    type: object
                    additionalProperties: true
                  locale:
                    type: object
                    additionalProperties: true
                  device:
                    type: object
                    additionalProperties: true
              examples:
                response:
                  value:
                    app_version:
                      1.0.0 (100): 11
                      0.9.5 (95): 3
                    os_version:
                      Android 13: 8
                      Android 12: 6
                    country:
                      US: 10
                      IN: 4
                    network_type:
                      wifi: 9
                      cellular: 5
                    locale:
                      en-US: 12
                      en-IN: 2
                    device:
                      Google - Pixel 7: 7
                      Samsung - Galaxy S23: 7
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/sessions:
    get:
      operationId: getSessionsOverview
      tags:
        - Sessions
      summary: Fetch an app's sessions
      description: |
        Fetch an app's sessions by applying various optional filters.

        For multiple comma separated fields, make sure no whitespace characters
        exist before or after commas. Pass `limit` and `offset` values to
        paginate results. When `free_text` is set, each result's
        `matched_free_text` field contains a space-separated string of match
        labels, e.g. `"CrashType: NullPointerException CrashMessage: something
        went wrong"`.

        In the response, `meta.next` / `meta.previous` are booleans indicating
        whether more pages exist in the respective direction. `events` is
        always `null` in list responses; it is populated only on the
        single-session detail endpoint. `duration` is the session duration in
        milliseconds.

        Sessions that contain only a session start event, with no other
        activity, are always excluded from results regardless of filters.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - name: versions
          in: query
          required: false
          description: List of comma separated app version identifier strings to return only matching sessions.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated app version codes to return only matching sessions.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of event source types to filter sessions. Accepted values: any combination of `error`, `anr`. `error` matches sessions with at least one exception event (fatal, unhandled, or handled); `anr` matches sessions with at least one ANR. When both `type` and `severity` are absent, all sessions are returned. When `type` is absent but `severity` is set, behaves as `type=error,anr`."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of exception severities to further narrow results. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Severity filters only exceptions; ANR sessions are never filtered by severity."
          schema:
            type: string
        - name: bug_report
          in: query
          required: false
          description: Boolean true/false to control if only sessions containing at least 1 bug report should be fetched.
          schema:
            type: string
        - name: background
          in: query
          required: false
          description: Boolean true/false to control if only background sessions should be fetched.
          schema:
            type: string
        - name: foreground
          in: query
          required: false
          description: Boolean true/false to control if only foreground sessions should be fetched.
          schema:
            type: string
        - name: user_interaction
          in: query
          required: false
          description: Boolean true/false to control if only sessions that contain user interactions should be fetched.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching sessions.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching sessions.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching sessions.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching sessions.
          schema:
            type: string
        - name: free_text
          in: query
          required: false
          description: A keyword to search across session data. Matched against user ID, session ID, event types, custom type names, log strings, view and subview classnames, exception details (type, message, file, class, method) for fatal, unhandled, and handled exceptions, error codes, ANR details, and gesture target names.
          schema:
            type: string
        - name: offset
          in: query
          required: false
          description: Number of items to skip when paginating. Use with `limit` parameter to control amount of items fetched.
          schema:
            type: integer
        - name: limit
          in: query
          required: false
          description: Number of items to return. Used for pagination. Should be used along with `offset`.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: JSON string expression to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        session_id:
                          type: string
                        app_id:
                          type: string
                        attribute:
                          type: object
                          additionalProperties: true
                        events:
                          type:
                            - array
                            - "null"
                          description: Always `null` in list responses; populated only on the single-session detail endpoint.
                        first_event_time:
                          type: string
                        last_event_time:
                          type: string
                        duration:
                          type: number
                          description: Session duration in milliseconds.
                        matched_free_text:
                          type: string
                          description: Present only when `free_text` is supplied; space-separated string of match labels. Empty string when no `free_text` filter is applied.
              examples:
                response:
                  value:
                    meta:
                      next: true
                      previous: false
                    results:
                      - session_id: 295842e1-7cd9-4ca3-8545-d6a5b36be9a4
                        app_id: 36e1b948-3a0a-4e71-80f3-625e61d6c832
                        attribute:
                          installation_id: 00000000-0000-0000-0000-000000000000
                          app_version: 0.8.0-SNAPSHOT.debug
                          app_build: "800"
                          device_name: emu64a16k
                          device_model: sdk_gphone16k_arm64
                          device_manufacturer: Google
                          os_name: android
                          os_version: "35"
                        events: null
                        first_event_time: "2024-10-26T05:52:43.104Z"
                        last_event_time: "2024-10-26T05:53:58.596Z"
                        duration: 75492
                        matched_free_text: "CrashType: NullPointerException CrashMessage: something went wrong"
                      - session_id: 2cc9ffd2-9f9d-40a7-9f55-d802a460507a
                        app_id: 36e1b948-3a0a-4e71-80f3-625e61d6c832
                        attribute:
                          installation_id: 00000000-0000-0000-0000-000000000000
                          app_version: 0.8.0-SNAPSHOT.debug
                          app_build: "800"
                          device_name: emu64a
                          device_model: sdk_gphone64_arm64
                          device_manufacturer: Google
                          os_name: android
                          os_version: "33"
                        events: null
                        first_event_time: "2024-10-02T18:26:58.226Z"
                        last_event_time: "2024-10-02T18:27:09.151Z"
                        duration: 10925
                        matched_free_text: ""
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/sessions/plots/instances:
    get:
      operationId: getSessionsOverviewPlotInstances
      tags:
        - Sessions
      summary: Fetch an app's sessions instances plot
      description: |
        Fetch an app's sessions instances plot by applying various optional
        filters.

        For multiple comma separated fields, make sure no whitespace characters
        exist before or after commas.

        Sessions that contain only a session start event, with no other
        activity, are always excluded from the instance counts regardless of
        filters.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - $ref: "#/components/parameters/From"
        - $ref: "#/components/parameters/To"
        - $ref: "#/components/parameters/Timezone"
        - $ref: "#/components/parameters/PlotTimeGroup"
        - name: versions
          in: query
          required: false
          description: List of comma separated app version identifier strings to return only matching sessions.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated app version codes to return only matching sessions.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of event source types to filter sessions. Accepted values: any combination of `error`, `anr`. When both `type` and `severity` are absent, all sessions are returned. When `type` is absent but `severity` is set, behaves as `type=error,anr`."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of exception severities to further narrow results. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Severity filters only exceptions; ANR sessions are never filtered by severity."
          schema:
            type: string
        - name: bug_report
          in: query
          required: false
          description: Boolean true/false to control if only sessions containing at least 1 bug report should be fetched.
          schema:
            type: string
        - name: background
          in: query
          required: false
          description: Boolean true/false to control if only background sessions should be fetched.
          schema:
            type: string
        - name: foreground
          in: query
          required: false
          description: Boolean true/false to control if only foreground sessions should be fetched.
          schema:
            type: string
        - name: user_interaction
          in: query
          required: false
          description: Boolean true/false to control if only sessions that contain user interactions should be fetched.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching sessions.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching sessions.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching sessions.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching sessions.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching sessions.
          schema:
            type: string
        - name: free_text
          in: query
          required: false
          description: A keyword to search across session data.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: JSON string expression to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
[...]
