openapi: 3.1.0
info:
  title: Measure Dashboard API
  version: 1.0.0
  description: |
    Reference for Measure's Dashboard REST API. Every endpoint, request body,
    response format and status code.

    Requests are authenticated with the user's access token in
    `Authorization: Bearer <access-token>` format, unless cookies are used to
    send tokens. Set `Content-Type: application/json; charset=utf-8` on each
    request.

    Failed requests have the following response shape:

    ```json
    {
      "error": "Error message"
    }
    ```
servers:
  - url: https://api.measure.sh
    description: Measure cloud
  - url: http://localhost:8080
    description: Self-hosted Measure API origin
security:
  - bearerAuth: []
tags:
  - name: Auth
    description: Sign in, session validation, token refresh and sign out.
  - name: Apps
    description: App journey, metrics, filters, settings, builds and configuration.
  - name: Crashes
    description: Crash groups, crash details and crash plots.
  - name: ANRs
    description: ANR groups, ANR details and ANR plots.
  - name: Errors
    description: Error groups, error details and error plots.
  - name: Sessions
    description: Session listing, session plots and session timelines.
  - name: Traces
    description: Root spans, span listings and traces.
  - name: Bug Reports
    description: Bug report listing, details and status updates.
  - name: Alerts
    description: Alerts raised for an app.
  - name: Network Requests
    description: Network request domains, paths, trends and plots.
  - name: Teams
    description: Team management, apps, members, invites, usage and Slack integration.
  - name: Prefs
    description: User notification preferences.
paths:
  /auth/github:
    post:
      operationId: signinGithub
      tags:
        - Auth
      summary: Sign in with GitHub
      description: |
        Sign in with Github.

        Should pass in type as "code" along with state and code received from Github.
      security: []
      parameters:
        - name: ga_client_id
          in: query
          required: false
          description: Optional Google Analytics client identifier forwarded during sign-in.
          schema:
            type: string
        - name: gclid
          in: query
          required: false
          description: Optional Google Ads click identifier forwarded during sign-in.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - state
              properties:
                type:
                  type: string
                  description: OAuth flow step, "init" or "code".
                state:
                  type: string
                  description: Opaque OAuth state value.
                code:
                  type: string
                  description: Authorization code received from GitHub. Required when type is "code".
            examples:
              request:
                value:
                  type: code
                  state: eyJyYW5kb20iOiIxOGY0NDIzZjExY2FiM2ZkOTRiNDZlMzU0ZWU1MDNlZjEyODk1MmY3YzViMDgxNjczMDkwMzVhYzU3ZjNkYjgxIiwicGF0aCI6IiJ9
                  code: ccd85e1fbfae2924588a
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  session_id:
                    type: string
                  user_id:
                    type: string
                  own_team_id:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU0ODR9.UA-rtIY8TPjB3gkt0xgxTTXWa84uB6nr9vMyg0gMnSI
                    refresh_token: yJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg0ODR9.1-meGfGQ8i9IlNxKXmBlDc4lEu-O63jG2vrd7yP0-j8
                    session_id: afae8473-2419-4303-a262-2aea520de295
                    user_id: 835283a5-cddc-472b-84ad-5ea3319efeed
                    own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/google:
    post:
      operationId: signinGoogle
      tags:
        - Auth
      summary: Sign in with Google
      description: |
        Sign in with Google.

        Should pass in type as "code" along with state and code received from Google.
      security: []
      parameters:
        - name: ga_client_id
          in: query
          required: false
          description: Optional Google Analytics client identifier forwarded during sign-in.
          schema:
            type: string
        - name: gclid
          in: query
          required: false
          description: Optional Google Ads click identifier forwarded during sign-in.
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - type
                - state
              properties:
                type:
                  type: string
                  description: OAuth flow step, "init" or "code".
                state:
                  type: string
                  description: Opaque OAuth state value.
                code:
                  type: string
                  description: Authorization code received from Google. Required when type is "code".
            examples:
              request:
                value:
                  type: code
                  state: eyJyYW5kb20iOiJiMGNkMTBjNzViOTI3NjQ1MmM4NTRlMzJiMjlkOTI1ZmI0YjkyNGI5ODFkZDQ0ZjM4OTMwYWQwYzU2YjEzMDk3IiwicGF0aCI6IiJ9
                  code: 4/0AeaYSHBg8Yt2VXpDbb1kMqzy
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
                  session_id:
                    type: string
                  user_id:
                    type: string
                  own_team_id:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU2NTl9.XzbpImWw9GXFlIXHCu92QNsA1D8m_Y9ZFVDEDqG_wtM
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg2NTl9.MeMIsk1KEHvPa2AAbDBQWqeKJwQcxbk1lXb7Mhcz-uQ
                    session_id: afae8473-2419-4303-a262-2aea520de295
                    user_id: 835283a5-cddc-472b-84ad-5ea3319efeed
                    own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/validateInvite:
    post:
      operationId: validateInvite
      tags:
        - Auth
      summary: Validate invite
      description: |
        Validate invite.

        Should pass in Invite ID.
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                invite_id:
                  type: string
            examples:
              request:
                value:
                  invite_id: 8e07edcf-92be-43c6-934e-c9cc96f2ddfb
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  valid:
                    type: boolean
              examples:
                response:
                  value:
                    valid: true
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "410":
          description: Invite has expired.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/refresh:
    post:
      operationId: refreshToken
      tags:
        - Auth
      summary: Refresh session
      description: |
        Refresh session.

        Should pass in refresh token as cookies or in auth header. Set the
        session's refresh token in `Authorization: Bearer <refresh-token>`
        format unless you are using cookies to send refresh tokens.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  access_token:
                    type: string
                  refresh_token:
                    type: string
              examples:
                response:
                  value:
                    access_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDUyMjU2NTl9.XzbpImWw9GXFlIXHCu92QNsA1D8m_Y9ZFVDEDqG_wtM
                    refresh_token: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3NDU4Mjg2NTl9.MeMIsk1KEHvPa2AAbDBQWqeKJwQcxbk1lXb7Mhcz-uQ
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's refresh token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/session:
    get:
      operationId: getAuthSession
      tags:
        - Auth
      summary: Fetch session
      description: |
        Fetch session.

        Only active sessions that have not been cleaned up will receive a
        response. Invalid sessions return an error.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  user:
                    type: object
                    properties:
                      id:
                        type: string
                      own_team_id:
                        type: string
                      name:
                        type: string
                      email:
                        type: string
                      confirmed_at:
                        type: string
                      last_sign_in_at:
                        type: string
                      created_at:
                        type: string
                      updated_at:
                        type: string
              examples:
                response:
                  value:
                    user:
                      id: 835283a5-cddc-472b-84ad-5ea3319efeed
                      own_team_id: e47ac49d-0697-4e85-8607-1a34536c04e3
                      name: Dummy User
                      email: dummy@gmail.com
                      confirmed_at: "2024-06-19T22:14:49.77Z"
                      last_sign_in_at: "2024-06-19T22:14:49.77Z"
                      created_at: "2024-06-19T22:14:49.77Z"
                      updated_at: "2024-06-19T22:14:49.77Z"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /auth/signout:
    delete:
      operationId: signout
      tags:
        - Auth
      summary: Sign out
      description: |
        Sign out.

        Only active sessions that have not been cleaned up will receive a
        response. Invalid sessions return an error. Set the session's refresh
        token in `Authorization: Bearer <refresh-token>` format unless you are
        using cookies to send refresh tokens.
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok:
                    type: boolean
              examples:
                response:
                  value:
                    ok: true
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's refresh token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/journey:
    get:
      operationId: getAppJourney
      tags:
        - Apps
      summary: Fetch an app's issue journey map
      description: |
        Fetch an app's issue journey map. Filter time range using `from` & `to`
        query string parameters. Filter versions using `versions` &
        `version_codes` query string parameters.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include crashes after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include crashes before this time.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching crashes.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching crashes.
          schema:
            type: string
        - name: bigraph
          in: query
          required: false
          description: Choose journey's directionality. `0` computes a unidirectional graph. Default is `1`.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  links:
                    type: array
                    items:
                      type: object
                      properties:
                        source:
                          type: string
                        target:
                          type: string
                        value:
                          type: number
                  nodes:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        issues:
                          type: object
                          properties:
                            anrs:
                              type: array
                              items:
                                type: object
                                additionalProperties: true
                            crashes:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                  title:
                                    type: string
                                  count:
                                    type: number
                  totalIssues:
                    type: number
              examples:
                response:
                  value:
                    links:
                      - source: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        target: au.com.shiftyjelly.pocketcasts.player.view.PlayerContainerFragment
                        value: 4
                      - source: au.com.shiftyjelly.pocketcasts.account.onboarding.OnboardingActivity
                        target: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        value: 1
                    nodes:
                      - id: au.com.shiftyjelly.pocketcasts.ui.MainActivity
                        issues:
                          anrs: []
                          crashes: []
                      - id: au.com.shiftyjelly.pocketcasts.discover.view.DiscoverFragment
                        issues:
                          anrs: []
                          crashes:
                            - id: 018f5c68-6fe0-75c9-81ba-b36871c8b5fa
                              title: java.lang.IllegalStateException
                              count: 18
                    totalIssues: 30
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/metrics:
    get:
      operationId: getAppMetrics
      tags:
        - Apps
      summary: Fetch an app's health metrics
      description: |
        Fetch an app's health metrics. Filter time range using `from` & `to`
        query string parameters. Filter version using `versions` &
        `version_codes` query string parameters.

        Both `versions` & `version_codes` should be present if any one of them
        is present, and the number of items in each must be the same. `from` &
        `to` values must be ISO 8601 UTC strings in milliseconds precision and
        default to a last 7 days time range if not supplied. Only the first
        version in `versions` & `version_codes` is used to query at the moment.

        `nan` can be true in the response if some computed values result in a
        division by zero error.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: "ISO 8601 UTC string in milliseconds precision. Example: `2023-11-01T18:30:00.000Z`."
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: "ISO 8601 UTC string in milliseconds precision. Example: `2023-11-08T18:30:00.000Z`."
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: Comma separated version identifiers. Only the first version will be used to query at the moment.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: Comma separated version codes. Only the first version will be used to query at the moment.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  adoption:
                    type: object
                    properties:
                      all_versions:
                        type: number
                      selected_version:
                        type: number
                      adoption:
                        type: number
                      nan:
                        type: boolean
                  anr_free_sessions:
                    type: object
                    properties:
                      anr_free_sessions:
                        type: number
                      delta:
                        type: number
                      nan:
                        type: boolean
                  cold_launch:
                    type: object
                    properties:
                      delta:
                        type: number
                      nan:
                        type: boolean
                      p95:
                        type: number
                  crash_free_sessions:
                    type: object
                    properties:
                      crash_free_sessions:
                        type: number
                      delta:
                        type: number
                      nan:
                        type: boolean
                  hot_launch:
                    type: object
                    properties:
                      delta:
                        type: number
                      nan:
                        type: boolean
                      p95:
                        type: number
                  perceived_anr_free_sessions:
                    type: object
                    properties:
                      perceived_anr_free_sessions:
                        type: number
                      delta:
                        type: number
                      nan:
                        type: boolean
                  perceived_crash_free_sessions:
                    type: object
                    properties:
                      perceived_crash_free_sessions:
                        type: number
                      delta:
                        type: number
                      nan:
                        type: boolean
                  sizes:
                    type: object
                    properties:
                      average_app_size:
                        type: number
                      selected_app_size:
                        type: number
                      delta:
                        type: number
                      nan:
                        type: boolean
                  warm_launch:
                    type: object
                    properties:
                      delta:
                        type: number
                      nan:
                        type: boolean
                      p95:
                        type: number
              examples:
                response:
                  value:
                    adoption:
                      all_versions: 53
                      selected_version: 23
                      adoption: 43.4
                      nan: false
                    anr_free_sessions:
                      anr_free_sessions: 100
                      delta: 1
                      nan: false
                    cold_launch:
                      delta: 0
                      nan: true
                      p95: 0
                    crash_free_sessions:
                      crash_free_sessions: 0
                      delta: 1
                      nan: false
                    hot_launch:
                      delta: 0
                      nan: true
                      p95: 0
                    perceived_anr_free_sessions:
                      perceived_anr_free_sessions: 100
                      delta: 1
                      nan: false
                    perceived_crash_free_sessions:
                      perceived_crash_free_sessions: 0
                      delta: 1
                      nan: false
                    sizes:
                      average_app_size: 26298701
                      selected_app_size: 25887094
                      delta: -411607
                      nan: false
                    warm_launch:
                      delta: 0
                      nan: true
                      p95: 0
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/health/plots/instances:
    get:
      operationId: getHealthOverviewPlotInstances
      tags:
        - Apps
      summary: Fetch an app's health overview instances plot
      description: |
        Fetch an app's health overview instances plot. The response is a time
        series of three metrics bucketed by datetime: sessions, crashes (fatal
        exceptions) & ANRs. Filter time range using `from` & `to` query string
        parameters. Filter version using `versions` & `version_codes` query
        string parameters.

        `from` & `to` will default to a last 7 days time range if not supplied.
        Both `versions` & `version_codes` should be present if any one of them
        is present, and must contain the same number of items. For multiple
        comma separated fields, make sure no whitespace characters exist before
        or after commas.

        The response is an array of three series identified by `id`:
        `sessions`, `crashes` & `anrs`. Each series holds a sparse list of
        datetime buckets that had data, so a bucket with no crashes or ANRs is
        simply absent from that series.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include data after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include data before this time.
          schema:
            type: string
        - name: timezone
          in: query
          required: true
          description: IANA timezone used to bucket and format datetime values in the response.
          schema:
            type: string
        - name: plot_time_group
          in: query
          required: false
          description: "Time bucket used for plot aggregation. Accepted values: `minutes`, `hours`, `days`, `months`. Defaults to `days`."
          schema:
            type: string
            enum:
              - minutes
              - hours
              - days
              - months
        - name: versions
          in: query
          required: false
          description: List of comma separated app version identifier strings to return only matching data.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated app version codes to return only matching data.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: Series identifier, one of `sessions`, `crashes` or `anrs`.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: sessions
                      data:
                        - datetime: "2024-10-02"
                          instances: 12044
                        - datetime: "2024-10-03"
                          instances: 13890
                    - id: crashes
                      data:
                        - datetime: "2024-10-02"
                          instances: 32
                    - id: anrs
                      data:
                        - datetime: "2024-10-02"
                          instances: 4
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/filters:
    get:
      operationId: getAppFilters
      tags:
        - Apps
      summary: Fetch an app's filters
      description: |
        Fetch an app's filters.

        Pass `type=error` to only return filters relevant to exception events
        (fatal + nonfatal), `type=anr` for filters relevant to ANR events, or
        `type=error,anr` for filters relevant to both exceptions and ANRs. Pass
        `ud_attr_keys=1` to return user defined attribute keys. Pass `span=1`
        to return filters computed from span data instead of event data. Pass
        `builds=1` to return version filters computed from uploaded build
        mappings instead of event data. If `type`, `span` and `builds` are
        omitted, filters are computed from all events.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: type
          in: query
          required: false
          description: Restrict filters to certain event types, `error`, `anr` or `error,anr`.
          schema:
            type: string
        - name: ud_attr_keys
          in: query
          required: false
          description: Pass `1` to return user defined attribute keys.
          schema:
            type: string
        - name: span
          in: query
          required: false
          description: Pass `1` to return filters computed from span data instead of event data.
          schema:
            type: string
        - name: builds
          in: query
          required: false
          description: Pass `1` to return version filters computed from uploaded build mappings instead of event data.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  countries:
                    type: array
                    items:
                      type: string
                  device_manufacturers:
                    type: array
                    items:
                      type: string
                  device_names:
                    type: array
                    items:
                      type: string
                  locales:
                    type: array
                    items:
                      type: string
                  network_generations:
                    type: array
                    items:
                      type: string
                  network_providers:
                    type: array
                    items:
                      type: string
                  network_types:
                    type: array
                    items:
                      type: string
                  os_versions:
                    type: array
                    items:
                      type: object
                      properties:
                        name:
                          type: string
                        version:
                          type: string
                  ud_attrs:
                    type: object
                    properties:
                      key_types:
                        type: array
                        items:
                          type: object
                          properties:
                            key:
                              type: string
                            type:
                              type: string
                      operator_types:
                        type: object
                        additionalProperties: true
                  versions:
                    type: array
                    items:
                      type: object
                      properties:
                        code:
                          type: string
                        name:
                          type: string
              examples:
                response:
                  value:
                    countries:
                      - bogon
                    device_manufacturers:
                      - Google
                    device_names:
                      - emu64a
                      - emu64a16k
                    locales:
                      - en-US
                    network_generations:
                      - 3g
                      - unknown
                    network_providers:
                      - T-Mobile
                      - unknown
                    network_types:
                      - cellular
                      - no_network
                      - unknown
                      - wifi
                    os_versions:
                      - name: android
                        version: "35"
                      - name: android
                        version: "33"
                    ud_attrs:
                      key_types:
                        - key: username
                          type: string
                        - key: paid_user
                          type: bool
                      operator_types:
                        bool:
                          - eq
                          - neq
                        string:
                          - eq
                          - neq
                          - contains
                          - startsWith
                    versions:
                      - code: "800"
                        name: 0.8.0-SNAPSHOT.debug
                      - code: "1"
                        name: "1.0"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/crashGroups:
    get:
      operationId: getCrashOverview
      tags:
        - Crashes
      summary: Fetch an app's crash overview (deprecated)
      deprecated: true
      description: |
        Fetch an app's crash overview.

        **Deprecated:** Use `GET /apps/{id}/errorGroups` instead. The
        `errorGroups` API unifies crashes, ANRs, and handled exceptions into a
        single surface with severity filtering.

        Both `versions` & `version_codes` should be present if any one of them
        is present.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: Start time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: End time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: plot_time_group
          in: query
          required: false
          description: "Time bucket used for plot aggregation. Accepted values: `minutes`, `hours`, `days`, `months`. Defaults to `days`."
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return crash groups that have events matching the version.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return crash groups that have events matching the version code.
          schema:
            type: string
        - name: key_id
          in: query
          required: false
          description: UUID of the last item. Used for keyset based pagination. Should be used along with `limit`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Used for keyset based pagination. Should be used along with `key_id`. Negative values traverse backward.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          type: string
                        id:
                          type: string
                        type:
                          type: string
                        message:
                          type: string
                        method_name:
                          type: string
                        file_name:
                          type: string
                        line_number:
                          type: number
                        count:
                          type: number
                        percentage_contribution:
                          type: number
                        updated_at:
                          type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: 0a674646a76ebe4aa378b8e1aaa49d61
                        type: java.lang.IllegalAccessException
                        message: This is a new exception
                        method_name: onClick
                        file_name: ExceptionDemoActivity
                        line_number: 0
                        count: 11
                        percentage_contribution: 36.67
                        updated_at: "2025-06-13T14:08:58.228662166Z"
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: b98e7b3ee2144b658ee613ab18a4326f
                        type: java.lang.StackOverflowError
                        message: stack size 8188KB
                        method_name: recursiveFunction
                        file_name: ExceptionDemoActivity.kt
                        line_number: 195
                        count: 5
                        percentage_contribution: 16.67
                        updated_at: "2025-06-13T14:08:58.253760541Z"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/crashGroups/plots/instances:
    get:
      operationId: getCrashOverviewPlotInstances
      tags:
        - Crashes
      summary: Fetch an app's crash overview instances plot (deprecated)
      deprecated: true
      description: |
        Fetch an app's crash overview instances plot aggregated by date range &
        version.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/plots/instances`
        instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. Both `from` and `to` MUST be present when specifying a date
        range.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: Start time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: End time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return crash groups that have events matching the version.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return crash groups that have events matching the version code.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          crash_free_sessions:
                            type: number
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: 7.61 (9400)
                      data:
                        - crash_free_sessions: 0
                          datetime: "2024-04-29"
                          instances: 23
                    - id: 7.62 (9223)
                      data:
                        - crash_free_sessions: 0
                          datetime: "2024-04-29"
                          instances: 30
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/crashGroups/{crashGroupId}/crashes:
    get:
      operationId: getCrashDetailCrashes
      tags:
        - Crashes
      summary: Fetch an app's crash detail (deprecated)
      deprecated: true
      description: |
        Fetch an app's crash detail.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/{errorGroupId}/errors`
        instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. For multiple comma separated fields, make sure no
        whitespace characters exist before or after commas.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: crashGroupId
          in: path
          required: true
          description: Crash group's id.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include crashes after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include crashes before this time.
          schema:
            type: string
        - name: plot_time_group
          in: query
          required: false
          description: "Time bucket used for plot aggregation. Accepted values: `minutes`, `hours`, `days`, `months`. Defaults to `days`."
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching crashes.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching crashes.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching crashes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching crashes.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching crashes.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching crashes.
          schema:
            type: string
        - name: key_id
          in: query
          required: false
          description: UUID of the last item. Used for keyset based pagination. Should be used along with `key_timestamp` & `limit`.
          schema:
            type: string
        - name: key_timestamp
          in: query
          required: false
          description: ISO8601 timestamp of the last item. Used for keyset based pagination. Should be used along with `key_id` & `limit`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Used for keyset based pagination. Should be used along with `key_id` & `key_timestamp`.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        session_id:
                          type: string
                        timestamp:
                          type: string
                        type:
                          type: string
                        attribute:
                          type: object
                          additionalProperties: true
                        exception:
                          type: object
                          properties:
                            title:
                              type: string
                            stacktrace:
                              type: string
                            message:
                              type: string
                        attachments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                              key:
                                type: string
                              location:
                                type: string
                        threads:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              frames:
                                type: array
                                items:
                                  type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - id: d0cae3d6-c42a-4d0c-a35b-df0b5d1435b2
                        session_id: f1681cff-4da9-4a33-bb1f-ed5d00b21b90
                        timestamp: "2024-05-03T23:33:59.724Z"
                        type: exception
                        attribute:
                          installation_id: ee40eb0e-c579-473d-bc10-557049f51cda
                          app_version: "1.0"
                          app_build: "1"
                          app_unique_id: sh.measure.sample
                          measure_sdk_version: 0.1.0
                          thread_name: main
                          user_id: ""
                          device_name: emu64a
                          device_model: sdk_gphone64_arm64
                          device_manufacturer: Google
                          device_type: phone
                          device_is_foldable: true
                          device_is_physical: false
                          device_density_dpi: 440
                          device_width_px: 1080
                          device_height_px: 2154
                          device_density: 2.75
                          device_locale: en-US
                          os_name: android
                          os_version: "33"
                          network_type: wifi
                          network_provider: ""
                          network_generation: unknown
                        exception:
                          title: java.lang.OutOfMemoryError@ExceptionDemoActivity.kt:29
                          stacktrace: "java.lang.OutOfMemoryError: Failed to allocate a 104857616 byte allocation\n\tat sh.measure.sample.ExceptionDemoActivity.onCreate$lambda$2(ExceptionDemoActivity.kt:29)\n\tat android.view.View.performClick(View.java:7506)"
                          message: Failed to allocate a 104857616 byte allocation with 25165824 free bytes and 87MB until OOM, target footprint 134540152, growth limit 201326592
                        attachments:
                          - id: ccd173ca-a9de-47ec-998f-0dd2f386ee12
                            name: screenshot.png
                            type: screenshot
                            key: ccd173ca-a9de-47ec-998f-0dd2f386ee12.png
                            location: http://localhost:9111/msr-attachments-sandbox/ccd173ca-a9de-47ec-998f-0dd2f386ee12.png
                        threads:
                          - name: Thread-2
                            frames:
                              - java.lang.Thread.sleep(Thread.java:-2)
                              - sh.measure.android.anr.ANRWatchDog.run(ANRWatchDog.kt:70)
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/crashGroups/{crashGroupId}/path:
    get:
      operationId: getCrashGroupCommonPath
      tags:
        - Crashes
      summary: Fetch a crash group's common path (deprecated)
      deprecated: true
      description: |
        Fetch a crash group's common path.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/{errorGroupId}/path`
        instead.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: crashGroupId
          in: path
          required: true
          description: Crash group's id.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions_analyzed:
                    type: number
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        thread_name:
                          type: string
                        confidence_pct:
                          type: number
              examples:
                response:
                  value:
                    sessions_analyzed: 11
                    steps:
                      - description: "View controller loaded: FlutterViewController"
                        thread_name: com.apple.main-thread
                        confidence_pct: 33.3
                      - description: Network changed from unknown
                        thread_name: unknown
                        confidence_pct: 66.7
                      - description: "Crash: FormatException: This is an exception"
                        thread_name: main
                        confidence_pct: 66.7
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/crashGroups/{crashGroupId}/plots/instances:
    get:
      operationId: getCrashDetailPlotInstances
      tags:
        - Crashes
      summary: Fetch an app's crash detail instances plot (deprecated)
      deprecated: true
      description: |
        Fetch an app's crash detail instances aggregated by date range &
        version.

        **Deprecated:** Use
        `GET /apps/{id}/errorGroups/{errorGroupId}/plots/instances` instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. For multiple comma separated fields, make sure no
        whitespace characters exist before or after commas.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: crashGroupId
          in: path
          required: true
          description: Crash group's id.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include crashes after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include crashes before this time.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching crashes.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching crashes.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching crashes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching crashes.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching crashes.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching crashes.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching crashes.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: 7.61 (9400)
                      data:
                        - datetime: "2024-04-29"
                          instances: 23
                    - id: 7.62 (9223)
                      data:
                        - datetime: "2024-04-29"
                          instances: 18
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/anrGroups:
    get:
      operationId: getAnrOverview
      tags:
        - ANRs
      summary: Fetch an app's ANR overview (deprecated)
      deprecated: true
      description: |
        Fetch an app's ANR overview.

        **Deprecated:** Use `GET /apps/{id}/errorGroups` instead. The
        `errorGroups` API unifies crashes, ANRs, and handled exceptions into a
        single surface with severity filtering.

        Both `versions` & `version_codes` should be present if any one of them
        is present.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: Start time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: End time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return ANR groups that have events matching the version.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return ANR groups that have events matching the version code.
          schema:
            type: string
        - name: key_id
          in: query
          required: false
          description: UUID of the last item. Used for keyset based pagination. Should be used along with `limit`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Used for keyset based pagination. Should be used along with `key_id`. Negative values traverse backward.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          type: string
                        id:
                          type: string
                        type:
                          type: string
                        message:
                          type: string
                        method_name:
                          type: string
                        file_name:
                          type: string
                        line_number:
                          type: number
                        count:
                          type: number
                        percentage_contribution:
                          type: number
                        updated_at:
                          type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: 09ef78940bd258030ebe3937bf1e32a2
                        type: sh.measure.android.anr.AnrError
                        message: Application Not Responding for at least 5s
                        method_name: run
                        file_name: CpuUsageCollector
                        line_number: 0
                        count: 1
                        percentage_contribution: 50
                        updated_at: "2025-06-13T14:08:58.003350625Z"
                      - app_id: 19e26d60-2ad8-4ef7-8aab-333e1f5377fc
                        id: 19f5125829c0477f56a6e610cd81b735
                        type: sh.measure.android.anr.AnrError
                        message: Application Not Responding for at least 5s
                        method_name: sleep
                        file_name: Thread.java
                        line_number: -2
                        count: 1
                        percentage_contribution: 50
                        updated_at: "2025-06-13T14:08:56.313369888Z"
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/anrGroups/plots/instances:
    get:
      operationId: getAnrOverviewPlotInstances
      tags:
        - ANRs
      summary: Fetch an app's ANR overview instances plot (deprecated)
      deprecated: true
      description: |
        Fetch an app's ANR overview instances plot aggregated by date range &
        version.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/plots/instances`
        instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. Both `from` and `to` MUST be present when specifying a date
        range.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: Start time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: End time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: plot_time_group
          in: query
          required: false
          description: "Time bucket used for plot aggregation. Accepted values: `minutes`, `hours`, `days`, `months`. Defaults to `days`."
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return ANR groups that have events matching the version.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return ANR groups that have events matching the version code.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          anr_free_sessions:
                            type: number
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: 7.61 (9400)
                      data:
                        - anr_free_sessions: 100
                          datetime: "2024-04-29"
                          instances: 0
                    - id: 7.62 (9223)
                      data:
                        - anr_free_sessions: 100
                          datetime: "2024-04-29"
                          instances: 0
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/anrGroups/{anrGroupId}/anrs:
    get:
      operationId: getAnrDetailAnrs
      tags:
        - ANRs
      summary: Fetch an app's ANR detail (deprecated)
      deprecated: true
      description: |
        Fetch an app's ANR detail.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/{errorGroupId}/errors`
        instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. For multiple comma separated fields, make sure no
        whitespace characters exist before or after commas.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: anrGroupId
          in: path
          required: true
          description: ANR group's id.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include ANRs after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include ANRs before this time.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching ANRs.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: key_id
          in: query
          required: false
          description: UUID of the last item. Used for keyset based pagination. Should be used along with `key_timestamp` & `limit`.
          schema:
            type: string
        - name: key_timestamp
          in: query
          required: false
          description: ISO8601 timestamp of the last item. Used for keyset based pagination. Should be used along with `key_id` & `limit`.
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Used for keyset based pagination. Should be used along with `key_id` & `key_timestamp`.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                        session_id:
                          type: string
                        timestamp:
                          type: string
                        type:
                          type: string
                        attribute:
                          type: object
                          additionalProperties: true
                        anr:
                          type: object
                          properties:
                            title:
                              type: string
                            stacktrace:
                              type: string
                            message:
                              type: string
                        attachments:
                          type: array
                          items:
                            type: object
                            properties:
                              id:
                                type: string
                              name:
                                type: string
                              type:
                                type: string
                              key:
                                type: string
                              location:
                                type: string
                        threads:
                          type: array
                          items:
                            type: object
                            properties:
                              name:
                                type: string
                              frames:
                                type: array
                                items:
                                  type: string
              examples:
                response:
                  value:
                    meta:
                      next: false
                      previous: false
                    results:
                      - id: e8f656b5-65c3-46ad-a03d-0ba777cff13f
                        session_id: 58e94ae9-a084-479f-9049-2c5135f6090f
                        timestamp: "2024-05-03T23:34:27.578Z"
                        type: anr
                        attribute:
                          installation_id: ee40eb0e-c579-473d-bc10-557049f51cda
                          app_version: "1.0"
                          app_build: "1"
                          app_unique_id: sh.measure.sample
                          measure_sdk_version: 0.1.0
                          thread_name: Thread-2
                          device_name: emu64a
                          device_manufacturer: Google
                          device_locale: en-US
                          os_name: android
                          os_version: "33"
                          network_type: wifi
                          network_generation: unknown
                        anr:
                          title: sh.measure.android.anr.AnrError@ExceptionDemoActivity.kt:66
                          stacktrace: "sh.measure.android.anr.AnrError: Application Not Responding for at least 5000 ms.\n\tat sh.measure.sample.ExceptionDemoActivity.deadLock$lambda$10(ExceptionDemoActivity.kt:66)\n\tat android.os.Handler.handleCallback(Handler.java:942)"
                          message: Application Not Responding for at least 5000 ms.
                        attachments:
                          - id: 63fb0950-faff-4028-bf3d-354559e4e540
                            name: screenshot.png
                            type: screenshot
                            key: 63fb0950-faff-4028-bf3d-354559e4e540.png
                            location: http://localhost:9111/msr-attachments-sandbox/63fb0950-faff-4028-bf3d-354559e4e540.png
                        threads:
                          - name: Thread-2
                            frames:
                              - dalvik.system.VMStack.getThreadStackTrace(VMStack.java:-2)
                              - sh.measure.android.anr.ANRWatchDog.run(ANRWatchDog.kt:102)
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/anrGroups/{anrGroupId}/path:
    get:
      operationId: getAnrGroupCommonPath
      tags:
        - ANRs
      summary: Fetch an ANR group's common path (deprecated)
      deprecated: true
      description: |
        Fetch an ANR group's common path.

        **Deprecated:** Use `GET /apps/{id}/errorGroups/{errorGroupId}/path`
        instead.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: anrGroupId
          in: path
          required: true
          description: ANR group's id.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  sessions_analyzed:
                    type: number
                  steps:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        thread_name:
                          type: string
                        confidence_pct:
                          type: number
              examples:
                response:
                  value:
                    sessions_analyzed: 1
                    steps:
                      - description: Session started
                        thread_name: msr-default
                        confidence_pct: 100
                      - description: "Activity created: sh.measure.sample.ExceptionDemoActivity"
                        thread_name: main
                        confidence_pct: 100
                      - description: "ANR: q3.b: Application Not Responding for at least 5s"
                        thread_name: Thread-4
                        confidence_pct: 100
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/anrGroups/{anrGroupId}/plots/instances:
    get:
      operationId: getAnrDetailPlotInstances
      tags:
        - ANRs
      summary: Fetch an app's ANR detail instances plot (deprecated)
      deprecated: true
      description: |
        Fetch an app's ANR detail instances aggregated by date range & version.

        **Deprecated:** Use
        `GET /apps/{id}/errorGroups/{errorGroupId}/plots/instances` instead.

        Both `versions` & `version_codes` should be present if any one of them
        is present. For multiple comma separated fields, make sure no
        whitespace characters exist before or after commas.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: anrGroupId
          in: path
          required: true
          description: ANR group's id.
          schema:
            type: string
        - name: from
          in: query
          required: false
          description: ISO8601 timestamp to include ANRs after this time.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: ISO8601 timestamp to include ANRs before this time.
          schema:
            type: string
        - name: plot_time_group
          in: query
          required: false
          description: "Time bucket used for plot aggregation. Accepted values: `minutes`, `hours`, `days`, `months`. Defaults to `days`."
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes to return only matching ANRs.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device name identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturer identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated device locale identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network provider identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network type identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generation identifier strings to return only matching ANRs.
          schema:
            type: string
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: object
                  properties:
                    id:
                      type: string
                      description: App version identifier for the series.
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          datetime:
                            type: string
                          instances:
                            type: number
              examples:
                response:
                  value:
                    - id: 1.0 (1)
                      data:
                        - datetime: "2024-05-03"
                          instances: 1
        "400":
          description: Request URI is malformed or does not meet one or more acceptance criteria. Check the `error` field for more details.
        "401":
          description: Either the user's access token is invalid or has expired.
        "403":
          description: Requester does not have access to this resource.
        "429":
          description: Rate limit of the requester has crossed maximum limits.
        "500":
          description: Measure server encountered an unfortunate error. Report this to your server administrator.
  /apps/{id}/errorGroups:
    get:
      operationId: getErrorOverview
      tags:
        - Errors
      summary: Fetch an app's error overview
      description: |
        Fetch an app's error overview. Returns fatal exceptions, handled
        exceptions, and ANRs unified into a single list.

        Both `versions` & `version_codes` should be present if any one of them
        is present. When neither `type` nor `severity` is set, all sources
        (fatal exceptions, nonfatal exceptions, ANRs) are returned.
        `custom=true` filters exceptions to custom-tracked only and does not
        suppress ANRs. To exclude ANRs explicitly, use `type=error`.
      parameters:
        - name: id
          in: path
          required: true
          description: App's UUID.
          schema:
            type: string
            format: uuid
        - name: from
          in: query
          required: false
          description: Start time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: to
          in: query
          required: false
          description: End time boundary for temporal filtering. ISO8601 Datetime string. If not passed, a default value is assumed.
          schema:
            type: string
        - name: versions
          in: query
          required: false
          description: List of comma separated version identifier strings.
          schema:
            type: string
        - name: version_codes
          in: query
          required: false
          description: List of comma separated version codes.
          schema:
            type: string
        - name: os_names
          in: query
          required: false
          description: List of comma separated OS names.
          schema:
            type: string
        - name: os_versions
          in: query
          required: false
          description: List of comma separated OS versions.
          schema:
            type: string
        - name: countries
          in: query
          required: false
          description: List of comma separated country codes.
          schema:
            type: string
        - name: device_names
          in: query
          required: false
          description: List of comma separated device names.
          schema:
            type: string
        - name: device_manufacturers
          in: query
          required: false
          description: List of comma separated device manufacturers.
          schema:
            type: string
        - name: locales
          in: query
          required: false
          description: List of comma separated locale strings.
          schema:
            type: string
        - name: network_providers
          in: query
          required: false
          description: List of comma separated network providers.
          schema:
            type: string
        - name: network_types
          in: query
          required: false
          description: List of comma separated network types.
          schema:
            type: string
        - name: network_generations
          in: query
          required: false
          description: List of comma separated network generations.
          schema:
            type: string
        - name: type
          in: query
          required: false
          description: "Comma-separated list of error source types to include. Accepted values: any combination of `error`, `anr`. When omitted, all sources are returned."
          schema:
            type: string
        - name: severity
          in: query
          required: false
          description: "Comma-separated list of severity levels to filter by. Accepted values: any combination of `fatal`, `unhandled`, `handled`. Applies only to exception events (`type=error`); ANRs are unaffected."
          schema:
            type: string
        - name: custom
          in: query
          required: false
          description: "`true` to restrict exception results to custom-tracked only. ANRs are unaffected by this flag; they are included whenever their source is in scope (`type` is omitted or includes `anr`)."
          schema:
            type: string
        - name: limit
          in: query
          required: false
          description: Number of items to return. Defaults to 10, max 1000.
          schema:
            type: integer
        - name: offset
          in: query
          required: false
          description: Number of items to skip. Defaults to 0.
          schema:
            type: integer
        - name: filter_short_code
          in: query
          required: false
          description: Code representing combination of filters.
          schema:
            type: string
        - name: ud_expression
          in: query
          required: false
          description: Expression in JSON to filter using user defined attributes.
          schema:
            type: string
      responses:
        "200":
          description: Successful response, no errors.
          content:
            application/json:
              schema:
                type: object
                properties:
                  meta:
                    type: object
                    properties:
                      next:
                        type: boolean
                      previous:
                        type: boolean
                  results:
                    type: array
                    items:
                      type: object
                      properties:
                        app_id:
                          type: string
                        id:
[...]
