#                                                            ( )    
#   ___ ___     __     _ _   ___  _   _  _ __   __       ___ | |__  
# /' _ ` _ `\ /'__`\ /'_` )/',__)( ) ( )( '__)/'__`\   /',__)|  _ `\
# | ( ) ( ) |(  ___/( (_| |\__, \| (_) || |  (  ___/ _ \__, \| | | |
# (_) (_) (_)`\____)`\__,_)(____/`\___/'(_)  `\____)(_)(____/(_) (_)

##################
# Object Storage #
##################

# Symbolication features won't work without these
SYMBOLS_S3_BUCKET=your-s3-bucket
SYMBOLS_S3_BUCKET_REGION=region-of-s3-bucket
SYMBOLS_ACCESS_KEY=s3-bucket-access-key
SYMBOLS_SECRET_ACCESS_KEY=s3-bucket-secret-access-key