/.gradle
/captures/
GeneratedPluginRegistrant.java
local.properties

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks
app/.cxx/
