<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="sh.measure.android.flutter.SampleApp"
        android:icon="@mipmap/ic_launcher"
        android:label="measure_flutter"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:exported="true"
            android:hardwareAccelerated="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="io.flutter.embedding.android.NormalTheme"
                android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
        <meta-data
            android:name="sh.measure.android.API_KEY"
            android:value="msrsh_67119df24c9c64b49269266b676a9f0c3ba430bbb32cdf157a59c1ea12a675fe_dabf1702" />

        <meta-data
            android:name="sh.measure.android.API_URL"
            android:value="https://humbly-natural-polliwog.ngrok-free.app" />

        <meta-data
            android:name="sh.measure.android.BUILD_API_URL"
            android:value="http://localhost:8080" />
    </application>
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT" />
            <data android:mimeType="text/plain" />
        </intent>
    </queries>
</manifest>
