# Storage (S3-compatible)
SYSTEM_SYMBOLS_S3_BUCKET=msr-system-symbols
SYMBOLS_S3_BUCKET_REGION=us-east-1
SYMBOLS_ACCESS_KEY=
SYMBOLS_SECRET_ACCESS_KEY=
AWS_ENDPOINT_URL=

# Google Drive auth (one of the following is required)
GOOGLE_DRIVE_API_KEY=
DRIVE_API_KEY_FILE=
